<!-- SITTER INDEX index.html.erb -->
<body class="background_pattern_test">
	<div class="row after_navbar">
		<div class="col-lg-12 col-xs-12">
			<% @active_sitters.each do |sitter| %>
				<section class="home_index_container"> <!-- replicating for each listing -->
					<div class="row">
						<div class="col-lg-3 col-xs-3">							
							<%= image_tag(sitter.avatar.url(:medium), class:"round-image-125-house-index") %>
						</div>
						<div class="col-lg-6 col-xs-6 home_index_container_each">							
							<p class="home_listing_index_text">
								<p class="sitter_index_box_name"> <%= sitter.name %> </p>
								<p class="sitter_index_box_location"> <%= sitter.location %> </p>
								<p class="sitter_index_box_tagline"> <%= sitter.about_me %> </p>
							</p>
							<div class="row">
							    <div class="small-2 large-4 columns test">
							    	<!-- <p> sitter rating TBD </p> -->
							    </div>
							</div>
						</div>
						<div class="col-lg-3 col-xs-3">	
						    <!-- LINK CORRECT PATH TO BUTTON/SHOW PAGE -->						
							<%= link_to("more info", "/", class:"btn btn-default btn-lg more_home_info_button" ) %>	
							<div id="price_container">
								<p id="sitter_price"> <%= sitter.base_rate %> / <br> day</p>
							</div>
						</div>						
					</div>	    						
				</section>
			<% end %>
		</div>
	</div>
	<div class="row temp">
		<h1> placeholder for stuff to come </h1>
	</div>
</body>