<!-- SIGN UP registrations/new.html.erb -->


<div class="row main_new_user">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "form-horizontal") do |f| %>
        <p class="form_header"> welcome, let's get started </p>
    

<!--_____ SIGN UP FORM BOXES ________________________________________________________________________-->
      <div class="form-group">
        <%= devise_error_messages! %>  
        <div class="row">
          <div clas="col-md-6">
           <div class="field sign_up_form_boxes_right">
            <%= f.text_field :name, autofocus: true, class: "form-control sign_up_form_field", placeholder: "full name" %>
            </div>
            <div class="field sign_up_form_boxes_left">
            <%= f.email_field :email, class: "form-control sign_up_form_field", placeholder: "email" %>
            </div>
          </div> <!-- col-md-6 -->

          <div clas="col-md-6">
            <div class="field sign_up_form_boxes_right">
             <!--  <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br /> -->
              <%= f.password_field :password, autocomplete: "off", class: "form-control sign_up_form_field", placeholder: "password, 6 characters minimum" %>
            </div>

            <div class="field sign_up_form_boxes_left">
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control sign_up_form_field", placeholder: "confirm password" %>
            </div>
           </div> <!-- col-md-6 -->
        </div> <!-- row login input -->


<!--_____ SIGN UP SUBMIT ___________________________________________________________________________-->   
        <div class="row">
          <div class="col-md-12">
            <div class="actions">
              <%= link_to "sign up", user_profile_path, class:"btn btn-default btn-lg sign_up_submit" %>       
            </div>           
          </div>
        </div><!-- row sign up submit -->
      </div> <!-- form group -->
    <% end %>  
  </div> <!-- col-md-8-->


 <!--_________________________________________________________________________________________-->        
   
  <div class="col-md-2"></div>
</div> <!-- row -->
