<body class="background_pattern_test">
	<div class="row after_navbar">
		<div class="col-lg-12 col-xs-12">
			<span class="homeshare_index_header">Homeshare listing</span>
			<% @all_listings.each do |listing| %>
				<section class="home_index_container">
					<div class="row">
						<div class="col-lg-3 col-xs-3">				
							<%= image_tag(listing.avatar.url(:medium), class:"round-image-125-house-index ") %>
						</div>
						<div class="col-lg-6 col-xs-6 home_index_container_each">	
							<div class="home_listing_index_text">
								<p class="home_index_description"> <%= listing.description %> 
								</p>
								<p class="home_index_location"> <%= listing.location %> </p>
							</div>
							<div class="row">
							    <div class="small-2 large-4 columns rating">
							    	<% if current_user %>
								     	<%= rating_for listing, "feedback" %>		
							    	<% end %>
							    </div>
							</div>
						</div>
						<div class="col-lg-3 col-xs-3">	
						    <!-- LINK CORRECT PATH TO BUTTON/SHOW PAGE -->	
							<%= link_to("more info", "/", class:"btn btn-default btn-lg more_home_info_button" ) %>	
						</div>						
					</div>	    						
				</section>
			<% end %>
		</div>
	</div>
</body>