<!-- HOMEPAGE index.html.erb -->
<div class="row section1">
	<div class="col-xs-5 sunny_cat_col">
		<div class="clearfix" id="picture">
			<img id="sunny_cat" alt="sunny cat" src="/assets/travel_cat.jpeg"/>
		</div>
	</div>
	<div class="col-xs-7 purravida_header">
		<h1 id="purravida_main_text">Purravida</h1>
		<p class="purravida_tagline">Connecting cat-loving travelers</p>
	</div>
</div>
<div class="row section2">
	<div class="col-xs-12 col-md-6 offset-md-3">
			<h2 id="intro"> We know the routine </h2>
			<p id="intro_p">
				You're headed out of town and trying to find a reliable cat sitter.  That shouldn't mean leaving your furry friend alone with an extra bowl of food (and you with anxiety). Purravida connects you with local cat sitters, a housing swap community, and the ability to meet some cool people in between. Join our network of feline loving explorers. 
			</p>
			<%= link_to("sign up", new_user_registration_path, class:"btn btn-default btn-lg su_home") %>
	</div>
</div>
<div class="row section3">
	<div class="col-xs-12 col-md-4">
		<div class="sitting_about">
				<i class="fa fa-home fa-6 sitting" aria-hidden="true"></i>
				<h2 class="feature_headings">SITTING</h2>
				<p class="feature_about">Quality pet siting is a necessity when on the go. Find local sitters, or start a cat sitting side hustle.</p>
		</div>
	</div>
	<div class="col-xs-12 col-md-4">
		<div class="travel_about">
			<i class="fa fa-plane fa-6 plane" aria-hidden="true"></i>
			<h2 class="feature_headings">TRAVEL</h2>
			<p class="feature_about">Search our homeshare, a house swap that is a double win for both you and your guest. In exchange for pet care, they get an awesome place to stay while traveling.</p> 
		</div>
	</div>
	<div class="col-xs-12 col-md-4">
		<div class="connect_about">
				<i class="fa fa-hand-peace-o fa-6 connect" aria-hidden="true"></i>
				<h2 class="feature_headings">CONNECT</h2>
				<p class="feature_about">Network with other users through our forums and homeshare community. Fellow cat people unite! </p>
			</div>
	</div>
</div>
<div class="row section4">
	<h2 id="intro_users">our community</h2>
 	<table class="table-responsive">
  		<tr>
  			<td class="thumbnail">
  				<div class="caption">
                    <h4>Thumbnail Headline</h4>
                    <p>short thumbnail description</p>
                    <p><a href="" class="label label-danger" rel="tooltip" title="Zoom">Zoom</a>
                    <a href="" class="label label-default" rel="tooltip" title="Download now">Download</a></p>
                </div>
  				<%= image_tag('user3.png', class:"users_pics img-responsive") %>
  			</td>
  			<td class="thumbnail">
				<div class="caption">
                    <h4>Thumbnail Headline</h4>
                    <p>short thumbnail description</p>
                    <p><a href="" class="label label-danger" rel="tooltip" title="Zoom">Zoom</a>
                    <a href="" class="label label-default" rel="tooltip" title="Download now">Download</a></p>
                </div>
  				<%= image_tag('user1.png', class:"users_pics img-responsive") %>		
  			</td>
  			<td class="thumbnail">
				<div class="caption">
                    <h4>Thumbnail Headline</h4>
                    <p>short thumbnail description</p>
                    <p><a href="" class="label label-danger" rel="tooltip" title="Zoom">Zoom</a>
                    <a href="" class="label label-default" rel="tooltip" title="Download now">Download</a></p>
                </div>
  				<%= image_tag('user5.png', class:"users_pics img-responsive") %>
  			</td>
  		</tr>
  		<tr>
  			<td class="thumbnail">
  				<div class="caption">
                    <h4>Thumbnail Headline</h4>
                    <p>short thumbnail description</p>
                    <p><a href="" class="label label-danger" rel="tooltip" title="Zoom">Zoom</a>
                    <a href="" class="label label-default" rel="tooltip" title="Download now">Download</a></p>
                </div>
  				<%= image_tag('user6.png', class:"users_pics img-responsive") %>
  			</td>
  			<td class="thumbnail">
  				<div class="caption">
                    <h4>Thumbnail Headline</h4>
                    <p>short thumbnail description</p>
                    <p><a href="" class="label label-danger" rel="tooltip" title="Zoom">Zoom</a>
                    <a href="" class="label label-default" rel="tooltip" title="Download now">Download</a></p>
                </div>
  				<%= image_tag('user2.png', class:"users_pics img-responsive") %>
  			 </td>
  			<td class="thumbnail">
  				<div class="caption">
                    <h4>Thumbnail Headline</h4>
                    <p>short thumbnail description</p>
                    <p><a href="" class="label label-danger" rel="tooltip" title="Zoom">Zoom</a>
                    <a href="" class="label label-default" rel="tooltip" title="Download now">Download</a></p>
                </div>
  				<%= image_tag('user4.png', class:"users_pics img-responsive") %>
  			</td>
  		</tr>
	</table>
</div>
<footer>
  <div class="container footer_outer">
  	<div class="footer_inner"
	    <p class="text-muted">
	    	<a href="byrachelmahan.com"><span> &copy; byrachelmahan.com </span></a>
	    </p>
  </div>
</footer>

