<!DOCTYPE html>
<html>
  <head>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Purravida</title>
    <%= csrf_meta_tags %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">purravida</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav"> 
            <li>
              <a href="../help/">Help</a>
            </li>
             <% if current_user %>	
	            <li>
	            	<%= link_to("Log out", destroy_user_session_path, method: :delete) %>
	            </li>
	        <% end %>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li>
            	<a href="https://www.instagram.com/kit_and_kaboodle/?hl=en">
            		<i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
            	</a>
            </li>
            <li>
            	<a href="https://www.facebook.com/rachel.mahan.9">
            		<i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
            	</a>
            </li>
            <li>
            	<a href="https://www.facebook.com/rachel.mahan.9">
            		<i class="fa fa-snapchat fa-2x" aria-hidden="true"></i>
            	</a>
            </li>
          </ul>

        </div>
      </div>
    </div>  
    <div class="container">
    	<%= yield %>
    </div>
  </body>
</html>
