<!DOCTYPE html>
<html>
  <head>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Purravida</title>
    <%= csrf_meta_tags %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <!-- <a href="/" class="navbar-brand">purravida</a> -->
          <% if current_user %>
            <span>
             <%= link_to("/") do %>
                <%= image_tag 'purravida-logo.gif', alt: 'purravida, connecting cat-loving travelers', class: "purravida_logo_header"%>
             <% end %> 
            </span>
          <% end %>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav"> 
           <!-- any left navbar content add here -->
          </ul>

          <ul class="nav navbar-nav navbar-right">


<!--_____ SIGNED IN HEADER BAR _____________________________________________________________________-->
             <% if current_user %>  
               <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">messages 
                  <span><i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i></span>
                  <!-- <span class="caret"></span></a> -->
                    <ul class="dropdown-menu" aria-labelledby="download">
                      <li><a href="tbd">inbox</a></li>
                      <li class="divider"></li>
                    </ul>
               </li>
               <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">on the go
                  <span><i class="fa fa-globe fa-lg" aria-hidden="true"></i></span>
                  <!-- <span class="caret"></span></a> -->
                    <ul class="dropdown-menu" aria-labelledby="download">
                      <li>
                        <%= link_to("search homeshare", home_listings_path) %>
                      </li>
                      <li class="divider"></li>
                      <li>
                        <a href="tbd">saved homes</a>
                      </li>
                      <li class="divider"></li>
                    </ul>
               </li>
               <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">at home
                  <span><i class="fa fa-home fa-lg" aria-hidden="true"></i></span>
                  <!-- <span class="caret"></span></a> -->
                    <ul class="dropdown-menu" aria-labelledby="download">
                      <li>
                        <%= link_to("sitter settings", edit_profile_path(current_user)) %>
                      </li>
                      <li class="divider"></li>
                      <li>
                        <%= link_to("find a sitter", profiles_path) %>
                      </li>
                      <li class="divider"></li>
                    </ul>
               </li>
               <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download"> 
                    <%= image_tag(current_user.avatar.url(:thumb), class:"round-image-50") %>          
                    <ul class="dropdown-menu" aria-labelledby="download">
                      <li>
                        <%= link_to("your profile",  user_profile_path) %>
                      </li>
                      <li class="divider"></li>
                      <li>
                        <%= link_to("log out", destroy_user_session_path, method: :delete) %>
                      </li>
                      <li class="divider"></li>
                    </ul>
               </li>            


<!--_____ SIGNED OUT HEADER BAR ____________________________________________________________________-->
             <% else %>
              <li> 
                <a href="../help/">follow us on</a>
              </li>
              <li>
              	<a href="https://www.instagram.com/kit_and_kaboodle/?hl=en">
              		<i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
              	</a>
              </li>
              <li>
              	<a href="https://www.facebook.com/rachel.mahan.9">
              		<i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
              	</a>
              </li>
              <li>
              	<a href="https://www.facebook.com/rachel.mahan.9">
              		<i class="fa fa-snapchat fa-2x" aria-hidden="true"></i>
              	</a>
              </li>
             <% end %>
          </ul>
        </div>
      </div>
    </div>  
    <div class="container">
    	<%= yield %>

    </div>
  </body>
</html>
