<!DOCTYPE html>
<html>
  <head>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Purravida</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header navbar_header_area">                                   
              <%= image_tag 'purravida-logo.gif', alt: 'purravida, connecting cat-loving travelers', class: "purravida_logo_header"%>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav"> 
            <li>
              <a href="/" class="purravida_navbar_text">Purravida</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">


<!--_____ SIGNED IN HEADER BAR _____________________________________________________________________-->
            <% if current_user %>                                   
              <li>
                <a href="/home_listings">
                  <i class="fa fa-globe fa-lg" aria-hidden="true"></i>
                  <span class="other_navbar_text">Search homeshare</span>
                </a>             
              </li> 
              <li>
                <a href="/profiles">
                  <i class="fa fa-home fa-lg" aria-hidden="true"></i>
                  <span class="other_navbar_text">Find a sitter</span>
                </a>
              </li>                                                                   
              <li class="dropdown other_navbar_text">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download"> 
                    <%= image_tag(current_user.avatar.url(:thumb), class:"round-image-50") %>          
                    <ul class="dropdown-menu" aria-labelledby="download">
                      <li>
                        <%= link_to("Your profile",  user_profile_path) %>
                      </li>
                      <li class="divider"></li>
                      <li>
                        <%= link_to("Sitter settings", edit_profile_path(current_user)) %>
                      </li>
                      <li class="divider"></li>
                      <li>
                        <%= link_to("Home settings", new_home_listing_path) %>
                      </li>
                      <li class="divider"></li>
                      <li>
                        <%= link_to("Log out", destroy_user_session_path, method: :delete) %>
                      </li>
                    </ul>
               </li>            


<!--_____ SIGNED OUT HEADER BAR ____________________________________________________________________-->
             <% else %>              
              <li>
              	<a href="https://www.instagram.com/kit_and_kaboodle/?hl=en">
              		<i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
              	</a>
              </li>
              <li>
              	<a href="https://www.facebook.com/rachel.mahan.9">
              		<i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
              	</a>
              </li>
              <li>
              	<a href="https://www.facebook.com/rachel.mahan.9">
              		<i class="fa fa-snapchat fa-2x" aria-hidden="true"></i>
              	</a>
              </li>
              <li>
                <span id="login_box">
                <%= link_to("login",  new_user_session_path, class: "log_in_navbar") %>
                </span>
              </li>
             <% end %>
          </ul>
        </div>
      </div>
    </div>  
    <div class="<%= @use_container_fluid ? 'container-fluid' : 'container' %>">
    	<%= yield %>
    </div>
  </body>
</html>
